body {
    background-color: blueviolet;
}

* {
    font-family: cursive;
    font-size: 1.1em;
}

div {
    border: 5px solid blueviolet;
    margin: auto;
    text-align: center;
    background-color: rgb(199, 199, 199);
    height: 70%;
    width: 70vh;
    padding-left: 10px;
    border-radius: 45px;
    box-shadow: 20px 20px 20px black;
}

input {
    margin: 5px;
    border-radius: 12px;
    box-shadow: 7px 7px 20px black;
    font-size: 1.5em;
}

.btn {
    color: black;
}

.btn:hover {
    background-color: blueviolet;
    transition: 1.2s;
    color: white;
}